.dog {
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.dog img {
    width: 100%;
}

.dog a {
    color: lightseagreen;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.dog a:hover {
    color: darkgray;
}